
.profile-header {
  background: #fff;
  // border: 1px solid #e0e0e0;  
  border-radius: 10px;

  // box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  min-height: 200px; // примерно 30%
  width: 100%;

  a{
    cursor: pointer;
  }

  .text-primary{
    cursor: pointer;
  }

}

.profile-content {
  background: #fff;
  border: 1px solid #e0e0e0;   // тонкая рамка
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  min-height: 400px; // примерно 70%
  width: 100%;
}

.small-block {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  min-height: 190px;
}
.avatar-img {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  img {
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  &:hover img {
    transform: scale(1.05);
    filter: brightness(70%);
  }

  .avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    opacity: 0;
    font-size: 14px;
    transition: opacity 0.3s ease;
  }

  &:hover .avatar-overlay {
    opacity: 1;
  }
}
.item-card{

  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}
.item-card img{
  width: 60px;
  height: 80px;
  object-fit: cover;
  border-radius: 12px;
}
.card-body{

  padding: 0;
}
.open-details-button{
  width: 100px;
  height: 40px;
  border: solid 1px black;
}
.equal-tabs {
  .nav-item {
    flex: 1; 
  }

  .nav-link {
    width: 100%;
    text-align: center;
    font-weight: 600;
    // border-radius: 6px 6px 0 0;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    
  }

  .nav-link.active {
    
    border-bottom: 2px solid #767677;
  }

  .nav-link:not(.active) {

    color: #333;
  }
  
}
/* Эффект неактивного товара */
.inactive-card {
  opacity: 0.7;
  filter: grayscale(80%);
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    opacity: 0.85;
    filter: grayscale(50%);
  }
}

.status-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(108, 117, 125, 0.9); // серый, как secondary
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 5;
}

.product-image {
  border-radius: 6px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.dropdown {
  .btn-link {
    text-decoration: none;
    color: #6c757d;
    transition: color 0.2s ease;

    &:hover {
      color: #0d6efd;
    }
  }

  .dropdown-menu {
    font-size: 0.9rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0;

    .dropdown-item {
      padding: 0.4rem 1rem;
      transition: background-color 0.15s ease;

      &:hover {
        background-color: #f8f9fa;
      }

      &.text-danger:hover {
        background-color: #ffe6e6;
      }
    }
  }
}
