<div class="modal-header">
  <h5 class="modal-title">Reset Password</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <!-- Email -->
    <div class="mb-3">
      <label for="resetEmail" class="form-label">{{'Enter your email' | translate}}</label>
      <input type="email"
             id="resetEmail"
             formControlName="email"
             class="form-control"
             placeholder="Your registered email" />
      <div *ngIf="submitted && resetForm.controls['email'].errors" class="text-danger small">
        <div *ngIf="resetForm.controls['email'].errors['required']">{{'Email is required' | translate}}</div>
        <div *ngIf="resetForm.controls['email'].errors['email']">{{'Invalid email' | translate}}</div>
      </div>
    </div>

    <button type="submit" class="btn btn-dark w-100" >{{'Send Reset Link'|translate}}</button>
  </form>
</div>
