<div class="topbar">
  <div class="topbar-right">

    <div class="position-relative">
      <button 
          class="btn btn-light btn-sm rounded-circle border-none me-3 d-flex align-items-center justify-content-center"
          style="width: 40px; height: 40px;"
          (click)="toggleNotifications()">

        <i class="fa-solid fa-bell"></i>

        <!-- Badge -->
        <span *ngIf="unreadCount$ |async as unreadCount"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              style="font-size: 10px;">
          {{ unreadCount }}
        </span>
      </button>

      <!-- Dropdown -->
      <div 
        class="notifications-dropdown"
        *ngIf="isNotificationsOpen && notifications$ | async as notifications">

        <div class="notif-header">Notifications</div>

        <div *ngIf="notifications.length === 0" class="empty-msg">
          No notifications
        </div>

        <div *ngFor="let n of notifications" class="notif-item" [class.unread]="!n.isRead">
          <div class="notif-title">{{ n.title }}</div>
          <div class="notif-msg">{{ n.message }}</div>
          <div class="notif-date">{{ n.createdAt | date:'short' }}</div>
        </div>

      </div>
    </div>
    <!-- Offers Button -->

    <!-- Language Switcher -->
    <div class="language-switcher dropdown">
      <button class="btn btn-sm btn-light border-none dropdown-toggle" type="button" data-bs-toggle="dropdown">
         {{ currentLang.toUpperCase() }}
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item"  [class.active]="currentLang === 'en'" (click)="changeLang('en')">
            English</a></li>
        <li>
          <a class="dropdown-item"  [class.active]="currentLang === 'ru'" (click)="changeLang('ru')">
            Русский</a></li>
      </ul>
    </div>

    <!-- Profile -->
    <div class="profile dropdown ms-3">
      <button class="btn btn-light btn-sm rounded-circle border-none d-flex align-items-center justify-content-center"
              type="button"
              data-bs-toggle="dropdown"
              style="width: 40px; height: 40px;">
        <i class="fa-solid fa-user"></i>
      </button>

      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item"[routerLink]="isPawnShop ? '/lombard-profile' : '/profile'">
            <i class="fa-solid fa-user me-2"></i> Profile
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
