.content {
  margin-left: 0;
  padding: 20px;

  &.with-sidebar {
    margin-left: 250px; // ширина navbar
  }
}
.app-layout {
  display: flex;

  &.with-sidebar {
    .main {
      margin-left: 250px; // ширина sidebar
      width: calc(100% - 250px);
    }
  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
      flex: 1; // чтобы футер всегда внизу
    }
  }
}
