<div class="conatiner mt-4">

     <h3 class="fw-semibold m-0">Список продуктов</h3>

    <div class="d-flex justify-content-between  mb-4 search-container">

        <div class="search-box w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Поиск по названию..."
            [(ngModel)]="searchTerm$.value"
            (ngModelChange)="onSearchChange($event)"
          />
        </div>
    </div>


    <div *ngIf="(filteredProducts$ | async) as products; else loading">

        <div *ngIf="products.length > 0; else noProducts" class="row g-3">
            <div class="col-md-4" *ngFor="let product of products">

            <div class="card shadow-sm h-100 border-0 position-relative"
                (click)="openProductDetails(product)"

                style="cursor: pointer;">

                <!-- ❤️ Избранное -->
                <!-- <i
                class="fa-solid fa-heart"
                style="position: absolute; top: 10px; right: 10px; font-size: 1.4rem; cursor: pointer;"
                [ngClass]="{
                    'text-danger': user?.favoriteItems?.includes(product._id),
                    'text-white': !user?.favoriteItems?.includes(product._id)
                }"
                (click)="toggleFavorite(product._id, $event)"
                ></i> -->

                <!-- Фото товара -->
                <img
                    *ngIf="product.photos?.length > 0; else noPhoto"
                    [src]="product.photos[0]"
                    class="card-img-top"
                    alt="{{ product.title }}"
                    style="height: 180px; object-fit: cover;"
                />

                <ng-template #noPhoto>
                    <div class="d-flex justify-content-center align-items-center bg-light" style="height: 180px;">
                        <i class="fa-solid fa-image text-secondary fs-1"></i>
                    </div>
                </ng-template>

                <div class="card-body">

                <!-- Название -->
                <h5 class="card-title fw-semibold mb-2">
                    {{ product.title }}
                </h5>

                <!-- Цена -->
                <p class="card-text text-muted mb-1">
                    <i class="fa-solid fa-tag me-1 text-secondary"></i>
                    {{ product.price | number:'1.0-0' }} ₸
                </p>

                <!-- Категория -->
                <p class="card-text text-muted mb-1">
                    <i class="fa-solid fa-layer-group me-1 text-secondary"></i>
                    {{ product.category }}
                </p>



                <!-- Дата -->
                <p class="card-text text-muted small">
                    <i class="fa-regular fa-calendar me-1"></i>
                    {{ product.createdAt | date:'dd.MM.yyyy' }}
                </p>

                </div>
            </div>
            </div>
        </div>

        <!-- Нет товаров -->
        <ng-template #noProducts>
            <div class="text-center text-muted mt-4">
            <i class="fa-regular fa-folder-open fs-3 mb-2"></i>
            <p>Нет доступных товаров</p>
            </div>
        </ng-template>

    </div>

    <ng-template #loading>
        <div class="text-center text-muted mt-4">
            <div class="spinner-border"></div>
        </div>
    </ng-template>


</div>