@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.login-page {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.login-left {
  flex: 1;
  background: #fff;
}

.login-right {
  flex: 1;
}

.logo {
  position: absolute;
  top: 20px;   /* отступ сверху */
  left: 30px;  /* отступ слева */
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000; /* или твой цвет */
}
.login-image {
  max-width: 900px;  /* задаёшь нужную ширину */
  width: 100%;
  height: 95%;  /* сохраняем пропорции */
  border-radius: 10px; /* по желанию */
  margin-right: 40px;
  margin-bottom: 40px;
  object-fit: cover;
  
}
a{
  cursor: pointer;
}