<div class="login-page d-flex vh-100">
  <div class="logo">
    <h2 class="brand-name">TechLombard</h2>
  </div>

  <!-- Левая часть -->
  <div class="login-left d-flex flex-column justify-content-center p-5 ml-3">
    <div class="login-box mx-auto" style="max-width: 360px; width: 100%;">
      <!-- Заголовок -->
      <h3 class="fw-bold mb-2">Welcome back</h3>
      <p class="text-muted mb-4">Please enter your details</p>

      <!-- Google login -->
      <button type="button"
              class="btn btn-light border w-100 d-flex align-items-center justify-content-center mb-3"
              (click)="loginWithGoogle()">
        <img src="https://www.svgrepo.com/show/355037/google.svg"
             alt="Google"
             width="20"
             class="me-2" />
        Sign in with Google
      </button>

      <!-- Разделитель -->
      <div class="d-flex align-items-center my-3">
        <hr class="flex-grow-1" />
        <span class="px-2 text-muted">or</span>
        <hr class="flex-grow-1" />
      </div>

      <!-- Login form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email"
                 id="email"
                 formControlName="email"
                 class="form-control"
                 placeholder="Enter your email" />
          <div *ngIf="submitted && loginForm.controls['email'].errors" class="text-danger small">
            <div *ngIf="loginForm.controls['email'].errors['required']">Email is required</div>
            <div *ngIf="loginForm.controls['email'].errors['email']">Invalid email</div>
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <label for="password" class="form-label mb-0">Password</label>
          <a class="small text-decoration-none" (click)="forgotPassword()">Forgot password?</a>
        </div>
        <input type="password"
               id="password"
               formControlName="password"
               class="form-control mb-3"
               placeholder="Enter your password" />
        <div *ngIf="submitted && loginForm.controls['password'].errors" class="text-danger small">
          <div *ngIf="loginForm.controls['password'].errors['required']">Password is required</div>
          <div *ngIf="loginForm.controls['password'].errors['minlength']">Password must be at least 6 characters</div>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-dark w-100 mb-3">Sign in</button>

      </form>

      <div *ngIf="serverError" class=" text-danger text-center py-2">
        {{ serverError }}
      </div>


      <!-- Sign up -->
      <p class="text-center text-muted">
        Don’t have an account?
        <a  class="text-decoration-none" (click)="register()">Sign up</a>
      </p>
    </div>
  </div>

  <!-- Правая часть (картинка) -->
  <div class="login-right flex-grow-1 d-flex align-items-center justify-content-center">
    <img src="assets/png/sign-in.jpg" class="login-image mr-3" alt="Login illustration" />
  </div>
</div>
