<!-- Footer -->
<footer class=" text-dark py-3 mt-4 border-top">
  <div class="footer-content align-items-center">
    <div class="container align-items-center">
      <div class="row justify-content-between">
        <!-- Логотип и описание -->
        <div class="col-md-3 mb-4 mb-md-0">
          <h5 class="fw-bold">LombardHub</h5>
          <p class="small text-muted">
            {{'Платформа, которая объединяет пользователей и сеть ломбардов в одном приложении.' | translate}}
          </p>
        </div>

        <!-- Навигация -->
        <div class="col mb-4 mb-md-0 align-items-center text-center">
          <ul class="list-unstyled">
            <li><a routerLink="/dashboard" class="text-decoration-none text-dark">{{'Главная' |translate}}</a></li>
            <li><a href="#" class="text-decoration-none text-dark">{{'О нас' | translate}}</a></li>
            <li><a href="#" class="text-decoration-none text-dark">{{'Контакты'| translate}}</a></li>
          </ul>
        </div>

        <!-- Контакты -->
        <div class="col mb-4 md-md-0">
          <ul class="list-unstyled text-muted align-items-center ">
            <li><i class="fa-solid fa-location-dot"></i> {{'Алматы, Казахстан' | translate}}</li>
            <li><i class="fa-solid fa-phone"></i> +7 (708) 675-76-10</li>
            <li><i class="fa-solid fa-envelope"></i> zhadi000s&#64;gmail.com</li>
          </ul>
        </div>
      </div>
    </div>

    <hr>

    <div class="text-center small text-muted">
      © 2025 LombardHub. Все права защищены.
    </div>
  </div>
</footer>
