<!-- Footer -->
<footer class="bg-light text-dark py-5 mt-5 border-top">
  <div class="footer-content" >
    <div class="container">
      <div class="row">
        <!-- Логотип и описание -->
        <div class="col-md-4 mb-4 mb-md-0">
          <h5 class="fw-bold">LombardHub</h5>
          <p class="small text-muted">
            Платформа, которая объединяет пользователей и сеть ломбардов в одном приложении.
          </p>
        </div>

        <!-- Навигация -->
        <div class="col-md-4 mb-4 mb-md-0">
          <h6 class="fw-bold">Навигация</h6>
          <ul class="list-unstyled">
            <li><a routerLink="/dashboard" class="text-decoration-none text-dark">Главная</a></li>
            <li><a href="#" class="text-decoration-none text-dark">О нас</a></li>
            <li><a href="#" class="text-decoration-none text-dark">Контакты</a></li>
          </ul>
        </div>

        <!-- Контакты -->
        <div class="col-md-4">
          <h6 class="fw-bold">Контакты</h6>
          <ul class="list-unstyled text-muted">
            <li>📍 Алматы, Казахстан</li>
            <li>📞 +7 (708) 675-76-10</li>
            <li>✉️ zhadi000s&#64;gmail.com</li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="border-secondary my-4">

    <div class="text-center small text-muted">
      © 2025 LombardHub. Все права защищены.
    </div>
  </div>
</footer>
