.item-card {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;

  img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
    flex-shrink: 0;
  }

  h6 {
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    margin: 0;
  }
}
