<div class="login-page d-flex vh-100">
  <div class="logo">
    <h2 class="brand-name">TechLombard</h2>
  </div>

  <!-- Левая часть -->
  <div class="login-left d-flex flex-column justify-content-center p-5 ml-3">
    <div class="login-box mx-auto" style="max-width: 360px; width: 100%;">
      <!-- Заголовок -->
      <h3 class="fw-bold mb-2">Welcome back</h3>
      <p class="text-muted mb-4">Please enter your new password</p>


      <!-- Разделитель -->
      <div class="d-flex align-items-center my-3">
        <hr class="flex-grow-1" />
        <span class="px-2 text-muted">or</span>
        <hr class="flex-grow-1" />
      </div>

      <!-- New password form -->
      <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">

        <!-- Password -->
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <label for="password" class="form-label mb-0">Password</label>
        </div>
        <input type="password"
               id="password"
               formControlName="password"
               class="form-control mb-3"
               placeholder="Enter your password" />
        <div *ngIf="submitted && newPasswordForm.controls['password'].errors" class="text-danger small">
          <div *ngIf="newPasswordForm.controls['password'].errors['required']">Password is required</div>
          <div *ngIf="newPasswordForm.controls['password'].errors['minlength']">Password must be at least 6 characters</div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label mb-0">Confirm Password</label>
            <input
                type="password"
                id="confirmPassword"
                formControlName="confirmPassword"
                class="form-control mb-1"
                placeholder="Repeat your password"
            />
            <div *ngIf="submitted && newPasswordForm.controls['confirmPassword'].errors" class="text-danger small">
                <div *ngIf="newPasswordForm.controls['confirmPassword'].errors['required']">Confirmation is required</div>
            </div>
            <div *ngIf="submitted && newPasswordForm.errors?.['mismatch']" class="text-danger small">
                Passwords do not match
            </div>
            </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-dark w-100 mb-3">Update </button>
      </form>

      <!-- Sign up -->
      <p class="text-center text-muted">
        Navigate to login?
        <a  class="text-decoration-none" (click)="goToLogin()">Sign up</a>
      </p>
    </div>
  </div>

  <!-- Правая часть (картинка) -->
  <div class="login-right flex-grow-1 d-flex align-items-center justify-content-center">
    <img src="assets/png/sign-in.jpg" class="login-image mr-3" alt="Login illustration" />
  </div>
</div>
