section{
    background-color: white;
}
input{
    border-radius: 12px;
}
input:focus{
    outline: none!important;
    box-shadow: none!important;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: #ccc !important; // можешь поставить любой цвет или убрать строку
}