section{
    background-color: white;
}
input{
    border-radius: 12px;
}
input:focus{
    outline: none!important;
    box-shadow: none!important;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: #ccc !important; // можешь поставить любой цвет или убрать строку
}
.welcome{
    
    height: 500px;

}


.main-text{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
}

.key-card{
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 1px solid #e0e0e0; /* лёгкая серая граница */
    transition: all 0.3s ease;
    padding: 20px;
}

.key-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
  border-color: #d0d0d0; /* чуть темнее при ховере */
}
/* Градиентная полоска снизу */
.key-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, #ff6a00, #ee0979); /* оранжево-розовый градиент */
  transition: all 0.3s ease;
  opacity: 0.8;
}

/* При ховере градиент становится ярче */
.key-card:hover::after {
  opacity: 1;
  height: 6px; /* слегка увеличивается */
}