@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar {
  width: 290px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;

    img {
      width: 28px;
      height: 28px;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #333;
      text-decoration: none;
      font-size: 15px;
      padding: 8px 12px;
      border-radius: 6px;
      transition: background 0.2s;
       cursor: pointer;

      i {
        width: 18px;
        text-align: center;
        
        font-size: 16px;
      }

      .badge {
        background: #f97316; // оранжевый
        color: #fff;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 50%;
        margin-left: auto;
      }

      &.active,
      &:hover {
        background: #f3f4f6;
      }
    }
  }
}
.sidebar hr {
  border: none;
  border-top: 1px solid #646464;
  margin: 10px 0;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; /* можно 70px если хочешь пониже */
  padding: 0 10px;

  border-radius: 12px;
  // box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.avatar:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.user-info {
  flex: 1;
  margin-left: 15px;
}

.user-name {
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;

}



.user-email {
  font-size: 11px;
  color: #666;
  font-weight: 500;
}

.logout-icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 10px;
}

.logout-icon:hover {
  color: #e74c3c;
}
