@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar {
  width: 250px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;

    img {
      width: 28px;
      height: 28px;
    }
  }

  .search-box {
    margin-bottom: 20px;

    input {
        width: 100%;
        padding: 8px 8px 8px 32px; /* отступ слева для иконки */
        border: none;
        border-radius: 6px;
        border: solid 1px #ccc;
        outline: none;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #333;
      text-decoration: none;
      font-size: 15px;
      padding: 8px 12px;
      border-radius: 6px;
      transition: background 0.2s;
       cursor: pointer;

      i {
        width: 18px;
        text-align: center;
        color: #9aa0a6; // мягкий серый
        font-size: 16px;
      }

      .badge {
        background: #f97316; // оранжевый
        color: #fff;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 50%;
        margin-left: auto;
      }

      &.active,
      &:hover {
        background: #f3f4f6;
      }
    }
  }
}
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  color: black;
}

.search-box i {
  position: absolute;
  left: 10px;
  color: #888;
}

.sidebar hr {
  border: none;
  border-top: 1px solid #646464;
  margin: 10px 0;
}