<div class="sidebar">
  <div class="logo">
    <!-- <img src="assets/logo.png" alt="TechLombard Logo" /> -->
    <span>TechLombard</span>
  </div>

  <div class="profile-header">
    <img src="assets/png/avatar.jpg" alt="Avatar" class="avatar"/>

    <div class="user-info">
      <div class="user-name" routerLink="/profile">Zhadiger</div>
      <div class="user-email">john.doe&#64;example.com</div>
    </div>

    <i class="fa-solid fa-right-from-bracket logout-icon"></i>
  </div>

  <hr>

  <nav class="menu">
    <a *ngFor="let item of filteredItems"
     [routerLink]="item.route"
     routerLinkActive="active">
    <i [class]="item.icon"></i>
    {{ item.label }}
    <span *ngIf="item.badge" class="badge">{{ item.badge }}</span>
  </a>
  </nav>
</div>
