<div class="sidebar">
  <div class="logo" routerLink="/dashboard">
    <!-- <img src="assets/logo.png" alt="TechLombard Logo" /> -->
    <span>TechLombard</span>
  </div>

  <div>

    <div class="">

    </div>

    <div class="profile-header">
      <img
        routerLink="/profile"
        [src]="user?.avatarUrl || 'assets/png/default-avatar.jpg'"
               alt="avatar"
               class="avatar"
               width="190"
               height="190" />
  
      <div class="user-info">
        <div class="user-name" routerLink="/profile">{{user?.name}}</div>
        <div class="user-email">{{user?.email}}</div>
      </div>
  
      <i class="fa-solid fa-right-from-bracket logout-icon"></i>
    </div>
    </div>

  <hr>

  <nav class="menu">
    <a *ngFor="let item of filteredItems"
     [routerLink]="item.route"
     routerLinkActive="active">
    <i [class]="item.icon"></i>
    {{ item.label }}
    <span *ngIf="item.badge" class="badge">{{ item.badge }}</span>
  </a>
  </nav>
</div>
