img.object-fit-cover {
  object-fit: cover;
}

button.badge {
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 10px;
  text-align: center;
  padding: 0;
}
.hover-overlay {
  transition: opacity 0.2s ease;
  opacity: 0;
}

.position-relative:hover .hover-overlay {
  opacity: 1;
}